<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>News Client</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>log4j-config-location</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>com.epam.newsclient.listener.ServletContextListenerImpl</listener-class>
	</listener>
	<listener>
		<listener-class>com.epam.newsclient.listener.SpringApplicationContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>com.epam.newsclient.controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Controller/*</url-pattern>
	</servlet-mapping>
	<error-page>
		<location>/jsp/error/errorPage.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/jsp/error/errorPage.jsp</location>
	</error-page>
	<jsp-config>
		<taglib>
			<taglib-uri>customtags</taglib-uri>
			<taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
